@import "common.styl"


.user
  width 1000px
  margin 10px auto 0
  padding 10px
  height 469px
  position relative
  .time
    color #f83f1d
    position absolute
    top 167px
    font-size 30px
    right 188px
    text-shadow 2px 2px 3px rgba(0,0,0,.6);
  .meImg
    width 856px
    height 399px
    background url('me.png')
    background-size 856px 399px
    margin  70px auto

  .title
    width 900px
    height 50px
    margin 0 auto
    border-bottom 1px solid #c5bdbd;
    .titleInfo
      width 700px
      height 55px
      margin 0 auto
      border-bottom 2px solid #dbe4e4;
      text-align center
      line-height 55px
      font-size 26px
      color #999