@import "common.styl"

.article
  line-height 40px
  font-size 15px
  padding-top 30px
  min-height 480px
  img
    display block
    margin 0 auto
    max-width 100%
.last
  position fixed
  left 10px
  top 50%
.next
  position fixed
  right 20px
  top 50%