@import "common.styl"

.article
  line-height 40px
  font-size 15px
  padding-top 30px
  min-height 480px
  pre
    background: rgba(185, 180, 180, 0.2);
    border-radius: 10px;
    text-indent 0
    padding 0 20px
    margin-bottom: 5px;
  img
    display block
    margin 0 auto
    max-width 100%
.before
  position fixed
  left 10px
  top 50%
.next
  position fixed
  right 20px
  top 50%