@import "normalize.css"

html,body {text-align:left;font-size:1em;font-family:Courier,monospace;height:100%}
html,body,img,form,textarea,input,fieldset,div,p,div,ul,li,ol,dl,dt,dd,
h1,h2,h3,h4,h5,h6,pre,code{margin:0;padding:0}
ul,li{list-style:none}
a{text-decoration:none;font-weight:normal;font-family:inherit}
*{box-sizing:border-box}
*:active,*:focus{outline:0;-moz-outline-style:none}
h1,h2,h3,h4,h5,h6,h7{font-weight:normal;font-size:1em}
.clearfix:after{clear:both;content:"";display:block;visibility:hidden}
.wrap{min-height:100%;padding:60px 20px 100px;max-width:620px;margin:0 auto;}
.footer{margin-top:-40px;height:20px;text-align:center;font-size:12px;font-weight:bold}
.footer b{color: #F83F1D}
.wrap h1,.wrap h2,.wrap p{text-align:center}
.wrap h1{font-size:120px;line-height:120px;font-weight:bold}
.wrap h2{font-size:30px;line-height:30px;font-weight:bold;margin-top:20px}
.wrap p{margin-top:30px;font-size:20px;opacity:0.5;word-break:break-all;line-height:150%}
.wrap pre{margin-top:30px;overflow-x:auto;border:1px solid #E5E5E5;padding:20px;border-radius:2px}
#root, #root > div {height: 100%}

#root
  background #f8ebda
  position relative
  overflow-x hidden
  h1
    font-size 20px
    text-align center
.root
  width 100%
  .active
    color #f83f1d
    >a
      color #aeaee0
  .top
    position absolute
    z-index 2
    top 0
    left 0
    width 100%
    height 265px
    .topImg
      position absolute
      top 0
      left 50%
      transform translateX(-50%)
      width 1350px
      height 265px
      background url('top.jpg')
  .img
    position relative
    z-index 3
    top 25px
    left 136px
    width 240px
    height 200px
    border-radius 50%
    background url('mine.jpg')
    background-size 335px 200px
    background-position-x -54px
    box-shadow 6px 7px 5px rgba(0,0,0,0.1)
  .name
    position absolute
    z-index 3
    color #aeaee0
    top 70px
    right 170px
    font-size 20px
  .nav
    position relative
    z-index 3
    display flex
    flex-wrap wrap
    width 120px
    top -162px
    left 390px
    div
      width 110px
      height 54px
      padding 1px 0
      border-radius 50%
      border-bottom 1px solid
      border-left 1px solid
      position relative
      margin 5px 0
    a
      display block
      width 100px
      height 50px
      text-align center
      line-height 50px
      border-radius 50%
      border-bottom 2px solid
      border-left 1px solid
      box-shadow 6px 7px 5px rgba(0,0,0,0.1)
      margin 8px 0
    a:hover
      background rgba(229, 229, 229, 0.2)

  .bottom
    position fixed
    top auto
    bottom 0
    left 0
    width 100%
    height 196px
    .bottomImg
      position absolute
      top 0
      left 50%
      transform translateX(-50%)
      width 950px
      height 196px
      background url('bottom.jpg')
  .content
    position relative
    z-index 10
    width 100%
    padding 0 100px 50px
    height auto
    text-align left
    text-indent 35px

