@import "common.styl"


.list
  padding 10px
  height 475px
  overflow-x auto
  margin-bottom -82px
  margin-top 10px
  ul
    display flex
    li
      padding-right 35px
      margin 0 20px 20px 0
      height 200px
      display inline-block
      border-radius 10px
      box-shadow 6px 7px 5px rgba(0,0,0,0.1)
      a
        white-space nowrap
