@import "common.styl"


.list
  padding 10px
  height 475px
  overflow-x auto
  margin-bottom -40px
  margin-top 50px
  ul
    display flex
    li
      padding-right 35px
      margin 0 20px 20px 0
      height 200px
      display inline-block
      border-radius 10px
      box-shadow 6px 7px 5px rgba(0,0,0,0.1)
      position relative
      .tags
        position: absolute;
        bottom: 10px;
        right: 10px;
        line-height: 13px;
        font-size: 12px;
        text-align: right;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
        color: rgba(229, 229, 229, 0.83);
      a
        white-space nowrap
        display block
        height 200px
        line-height 180px
